<app-clild
 (sengGreateEvent)="getGreade($event)"
 (sengName)="getName($event)"
>
</app-clild>
<h2>{{greade | json}}</h2>
<span style="color: blue" *ngFor="let item of names">{{item}}</span>

<div *ngIf="isLoading; else elseBlock">
  <h1>Loading...</h1></div>
<ng-template #elseBlock>
  <div *ngFor="let i of arr "><span>{{i}}</span></div>
</ng-template>
<div [ngSwitch]="arr.length">
  <div *ngSwitchCase="1">One</div>
  <div *ngSwitchCase="2">Two</div>
  <div *ngSwitchCase="3">Tree</div>
  <div *ngSwitchCase="4">Four</div>
</div>
<div [ngClass]="{default: true, class: slyle, error: !slyle}">Example String</div>
